body { padding: 0; margin: 0 }
#unity-container { position: fixed; width: 100%; height: 100%; }
#unity-canvas { width: 100%; height: 100%; background: #231F20 }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 150px; height: 130px; background: url('unity-logo-dark.png') no-repeat center; overflow: hidden; }
#unity-progress-bar-empty { position: relative; margin-left: 10px; margin-right: 0px; width: 140px; height: 5px; margin-top: 10px; background: #231F20; overflow: hidden; }
#unity-progress-bar-full { position: absolute; left: 0; top: 0; margin-left: 0px; margin-right: 0px; width: 0%; height: 100%; margin-top: 0px; background: url('progress-bar-full-blue.png') no-repeat left center; background-size: 100% 100%; overflow: hidden; }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: rgb(3, 133, 255); padding: 10px; display: none }

